@model CourseModel
@{
    ViewBag.Title = "AddCourse";
    ViewData["Title"] = "AddCourse";
}

<form class="ui form" asp-controller="Home" asp-action="Addcourse" method="POST">
    <div class="field">
        <label asp-for="Name">
            Name
        </label>
        <input asp-for="Name" type="text" name="Name" value="" required/>
        <span asp-validation-for="Name" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="Description">
            Description
        </label>
        <input asp-for="Description" type="text" name="Description" value="" />
        <span asp-validation-for="Description" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="Code">
            Code
        </label>
        <input asp-for="Code" type="text" name="Code" value="" required/>
        <span asp-validation-for="Code" class="validation error" ></span>
    </div>
    <div class="field">
        <label asp-for="Semester">
            Semester
        </label>
        <input asp-for="Semester" type="number" name="Semester" value="" required/>
        <span asp-validation-for="Semester" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="ImgLoc">
            ImageLocation
        </label>
        <input asp-for="ImgLoc" type="text" name="ImgLoc" value="/images/placeholder.jpg" placeholder="/images/placeholder.jpg" />
        <span asp-validation-for="ImgLoc" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="StartDate">
            StartDate
        </label>
        <input asp-for="StartDate" type="datetime-local" name="StartDate" required/>
        <span asp-validation-for="StartDate" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="EndDate">
            EndDate
        </label>
        <input asp-for="EndDate" type="datetime-local" name="EndDate" required/>
        <span asp-validation-for="EndDate" class="validation error"></span>
    </div>
    <button class="ui green button" type="submit">Add Course</button>
</form>