@model OverviewModel
@{
    ViewData["Title"] = "Overview";
}

<div class="ui block header">
    Overview Courses
    <input id="search" type="search" name="text" placeholder="Search" />
    <button class="ui button" onclick="search()">Search</button>
</div>

<div id="PartialView">
    <partial name="PartialCourseOverview" />
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#search').on('keyup', function () {
                $.ajax({
                    url: '@Url.Action("SearchCourses","Home")?search=' + $("#search").val(),
                    type: 'POST',
                    dataType: 'html',
                    error: (jqXHR, textStatus, errorThrown) => console.log(jqXHR, textStatus, errorThrown)
                }).done(function (data) {
                    $('#PartialView').html(data);
                })
            });
        });
    </script>
}
