@model OverviewModel
@{
    ViewData["Title"] = "Overview";
}

<div class="ui block header">
    Overview Courses
    <input id="search" type="search" name="text" placeholder="Search" />
</div>

<div id="PartialView">
    <partial name="PartialCourseOverview" />
</div>

@section scripts {
    <script>
        function goToSubjectOverview(courseId) {
                window.location = `@Url.Action("SubjectOverview","Subject")?courseId=${courseId}`
            }
        $(document).ready(function () {
            $('#search').on('keyup', function () {
                $.ajax({
                    url: '@Url.Action("SearchCourses","Home")?search=' + $("#search").val(),
                    type: 'GET',
                    dataType: 'html',
                    error: (jqXHR, textStatus, errorThrown) => console.log(jqXHR, textStatus, errorThrown)
                }).done(function (data) {
                    $('#PartialView').html(data);
                })
            });
        });
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/courses")
            .configureLogging(signalR.LogLevel.Information)
            .build();
        connection.on("@CMS.Hubs.HubExtensions.CourseChangedEvent", () => {
            console.log('Course updated');
            console.log(course);
            search();
        });
        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };
        connection.onclose(start);
        start();
    </script>
}