<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="~/lib/semantic/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!--Jquery eerst initaliseren, omdat inline scripten jquery gebruiken-->
    <header>
        <!-- empty for now, had to move sidebar out of it.-->
        <div id="messages"></div>
    </header>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {

        <div class="ui sidebar inverted vertical menu">

            <a class="active item" asp-controller="Home" asp-action="Index">Overview</a>

            @if (User.IsInRole("Admin"))
            {
                <a class="item" asp-controller="Home" asp-action="AddCourse">Add Course</a>
                <a class="item" asp-controller="Auth" asp-action="GetAllUsers">Users</a>
            }

            <a class="item" asp-controller="Auth" asp-action="Logout">Logout</a>

        </div>

    }

    <div class="pusher">
        <div class="ui container">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div class="ui basic icon menu" id="toggleBar">
                    <a id="toggle" class="item">
                        <i class="sidebar icon"></i>
                        Menu
                    </a>
                </div>
            }
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="footer">
            <div class="ui container">
                <div class="">
                    &copy; 2020 - CMS
                </div>
            </div>
        </footer>

    </div>
    <script>
        /**
         * method message
         * description Toont een message in the header
         * param {string} message message text
         * param { string } header header text
         * param { string } color color of header
         * param {Number} timout_in_ms amount of time to wait before removing. put 0 to stay forever
         **/
        const message = (message, header, color = "grey",timout_in_ms=3000) => {
            const id = Date.now();
            $("#messages").append(`<div id="${id}"class="ui ${color} message"><div class="header">${header}</div><p>${message}</p></div>`)
            if (timout_in_ms != 0) {
                setTimeout(function () {
                    $(`#${id}`).fadeOut("slow", function () {
                        $(`#${id}`).remove()
                    });
                }, timout_in_ms);
            }
            return id;
        };
    </script>
    <script src="~/lib/semantic/semantic.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('#toggle').click(function () {
            $('.ui.sidebar').sidebar('toggle');
        });
        var decodeHTML = function (html) {
            var txt = document.createElement('textarea');
            txt.innerHTML = html;
            return txt.value;
        };
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
